/* TODO: Move this file out of the page directory */
.react-pdf__Document {
  width: min-content;
  overflow-y: hidden;
  height: 100%;
  /* Required for search matches scroll */
  position: relative;
}
